.párrafouno {
  text-align: justify;       
  text-indent: 25px;        
  line-height: 1.6;          
  letter-spacing: 0.5px;      
}
.párrafodos {
  text-align: justify;       
  text-indent: 25px;        
  line-height: 1.6;          
  letter-spacing: 0.5px;           
}
.párrafotres {
  text-align: justify;       
  text-indent: 25px;        
  line-height: 1.6;          
  letter-spacing: 0.5px;          
}